/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

ul{
    list-style: none;
}

button {
  font-family: "Poppins", sans-serif;
}

.mobile{
    display: none;
}

/* Container */

.container {
    display: flex;
    justify-content: space-between;
}

.container .items{
    width: 50%;
    padding: 4%;
}

/* First Item in Container */

.first-item {
    background-color: #F5000F;
    color: white;
    font-weight: bolder;
}

.first-item .header{
    font-size: 30px;
}

.header{
    display: flex;
    align-items: center;
}

.header img{
    width: 50px;
    margin-right: 4px;
}


.showcase{
    margin-top: 60px;
    max-width: 350px;
}

.showcase h2{
    font-size: 55px;
    font-weight: 900;
    line-height: 1.1;
    text-shadow: 2px 2px 4px #585858;
}

.showcase .head{
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0;
    line-height: 1.1;
    text-shadow: 2px 2px 4px #585858;
}

.hashtags{
    margin-top: 35px;
    font-size: 30px;
}

.in-black{
    color: black;
}

/* Second item in container */

.second-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4%;
}

.second-item h3{
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2;
    color: #F5000F;
    text-shadow: 5px 5px 5px #dddddd;
}

/* qr code */

.image-wrapper{
    position: relative;
}

.qr-wrapper {
    background-image: url("./img/QR.png");
    background-size: cover;
    width: 500px;
    height: 500px;
    background-position: center;
    opacity: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .second-item img {
    position: absolute;
    top: 50%;
    width: 300px;
    height: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #f2f2f2;
    padding: 4%;
}

.footer-header{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.footer-header img{
    width: 30px;
    margin-right: 4px;
}

.footer .footer-details{
    flex: 1;
}

.badge{
    width: 200px;
}

.badge img{
    margin-top: 10px;
}

.download-btn{
    display: block;
    width: fit-content;
    margin: 12px 0;
}

.others{
    display: flex;
    margin: 12px 0;
    flex-wrap: wrap;
}

.copyright{
    margin-top: 25px;
    font-size: 14px;
}

.others a{
    margin-right: 5px;
}

/* For devices screen smaller than 750px */

@media (max-width: 750px) {
    .second-item{
        display: none;
    }

    .container .items{
        width: 100%;
    }

    .showcase{
        margin-top: 60px;
        max-width: 450px;
    }

    .hashtags{
        margin: 50px 0;
        font-size: 20px;
    }

    .showcase .showcase-text{
        display: none;
    }

    .continue-btn{
        width: 180px;
        margin: 30px auto;
        padding: 15px;
        font-size: 16px;
        background-color: #ffffff;
        display: block;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
    }

    .footer{
        display: block;
    }

    .footer-header{
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    
    .footer-header img{
        width: 25px;
        margin-right: 4px;
    }

    .download-btn{
        display: none;
    }

    .others{
        display: flex;
        margin: 12px 0;
        font-size: 14px;
        flex-wrap: wrap;
    }

    .badge{
        display: none;
        margin-top: 20px;
    }

    .mobile{
        display: block;
    }
}

/* Screen for mobile devices */

@media screen and (max-width: 480px) {

    .header h3{
        display: none;
    }

    .header img{
        width: 30px;
        margin-right: 0px;
    }

    .header-tab{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav{
        display: flex;
        align-items: center;
    }

    .mobile-nav a{
        text-decoration: underline;
        font-size: 14px;
    }

    .mobile-nav .hamburger{
        margin-left: 15px;
    }
    .hamburger{
        width: 35px;
        height: 35px;
        padding: 4px;
        background: transparent;
        transition: background-color 0.3s ease-in-out;
        border-radius: 8px;
    }

    .hamburger:hover{
        background-color: rgba(0, 0, 0, 0.1);
}

    .hamburger-items{
        margin: auto;
        height: 4px;
        width: 100%;
        border-radius: 5px;
        background-color: whitesmoke;
    }

    #line2{
        margin: 5px 0;
    }

    .sidebar {
        position: fixed;
        top: 0; 
        right: -500px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 999;
        padding: 3%;
        transition: all 0.3s ease-out;
    }

    .sidebar.show {
        right: 0;
    }      

    .sidebar button{
        width: 35px;
        height: 35px;
        background: transparent;
        border-radius: 8px;
        position: absolute;
        right: 4%;
        top: 4%;
    }

    .sidebar .close{
        font-weight: bold;
    }

    .sidebar-items{
        margin-top: 15%;
        display: flex;
        height: 80%;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar-items li{
        text-align: center;
        font-size: 16px;
        color: #F5000F;
        text-transform: uppercase;
        margin: 8px 0;
        font-weight: bold;
    }

    .sidebar-items .download-inner-btn{
        padding: 8px 25px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 32px;
        border: 2px solid #F5000F;
        width: fit-content;
    }

    .container {
        min-height: 100vh;
    }

    .continue-btn {
        margin: 50px auto;

    }

    .footer{
        display: none;
    }


}